/* Styly pro tmavý režim */
:root {
    --background-color: white;
    --text-color: black;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
body.black-mode {
    --background-color: black;
    /*--text-color: white;*/
}
body.black-mode .stop-tooltip {
	filter: invert(10%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* Staré, již nepoužívané styly (Nastavení bílé barvy textu nutno invertovat invertované)

sidebar.dark-mode h1,
sidebar.dark-mode h2,
sidebar.dark-mode h3,
sidebar.dark-mode h4,
sidebar.dark-mode h5,
sidebar.dark-mode p {
    color: black;
}
*/

/* Nový přístup k tmavému režimu */
body.black-mode .leaflet-sidebar * {
    color: white !important; 
	}
body.black-mode .leaflet-sidebar-tabs,
body.black-mode .leaflet-sidebar-content,
body.black-mode .detail-linky   {
    background-color: #222 !important; 
	}
body.black-mode .detail-linky a:hover {
    background-color: #444 !important;
	}
body.black-mode .detail-linky.highlight-color {
    background-color: #555 !important;
    border-color: white !important;
	}
body.black-mode .zastavka {
	background-color: #222 !important;
	}
body.black-mode .zastavka a:hover {
	background-color: #444 !important;
	}
body.black-mode .leaflet-sidebar-tabs > li > a:hover, body.black-mode .leaflet-sidebar-tabs > ul > li > a:hover {
	background-color: #444 !important;
	}
body.black-mode .leaflet-container {
	background-color: black;
	}
body.black-mode .leaflet-container .leaflet-control-attribution {
	background-color: rgba(0, 0, 0, 0.3) !important;
	color: #888 !important;
	} 
.dark-mode,
body.black-mode .zoom-info,
body.black-mode .svg-img  {
    filter: invert(90%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
body.black-mode .leaflet-sidebar {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.65); 
  }
  @media (min-width: 768px) {
    body.black-mode .leaflet-sidebar {
      border-radius: 4px; 
      }
      body.black-mode .leaflet-sidebar.leaflet-touch {
        border: 2px solid rgba(255, 255, 255, 0.2); 
        } 
    }
body.black-mode .leaflet-sidebar-left.leaflet-touch {
  box-shadow: none;
  border-right: 2px solid rgba(255, 255, 255, 0.2); 
  }
body.black-mode .leaflet-sidebar-right.leaflet-touch {
  box-shadow: none;
  border-left: 2px solid rgba(255, 255, 255, 0.2); 
  }
.line-pink {
	color: rgb(177, 80, 177) !important;
	border-color: rgb(177, 80, 177) !important;
	}
/* Přidání stylů pro input typu date a vyhledávací pole v tmavém režimu */
body.black-mode #date-picker,
body.black-mode #search-input {
    color: #eee; /* Barva textu pro tmavý režim */
    background-color: #333; /* Barva pozadí pro tmavý režim */
    border: 1px solid white; /* Volitelně: přidání okraje pro lepší viditelnost */
}

/* Konec tmavého režimu */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
    position:relative;
}		
.group-content {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox pro uspořádání do sloupců */
	flex-wrap: wrap; /* Umožňuje položkám přecházet do dalšího řádku */   
}
.group-content li {
    padding: 6px;
    width: 33%; /* Šířka každé položky na 50% pro dva sloupce */
	box-sizing: border-box; /* Zajištění, že padding a border se započítávají do šířky */
}
.group-content li a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block; /* Zajištění, že odkaz zabírá celou šířku položky */
	padding: 4px; /* Vnitřní okraje pro odkazy */
	font-size: 18px;
}
.group-content li a:hover {
    opacity: 0.8;
}
.text-labels {
	width: 50px !important;
	height: 40px !important;
	border-radius: 10px;
	font-weight: bold;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.9) !important;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;       /* The same as your div height */
}
.detail-linky {
    text-decoration: none;
    text-align: left;
    display: block; /* Zajištění, že odkaz zabírá celou šířku položky */
	padding: Opx; /* Vnitřní okraje pro odkazy */
	margin-bottom: 6px;
	font-size: 12px;
	border: 1px solid #c1c1c1;
	background-color: #eeeeee;
}
.detail-linky a {
    text-decoration: none;
    display: block;
    padding: 6px;
    color: black;    
}
.detail-linky a:hover {
    background-color: #ffff;
}
.zastavka {
	text-decoration: none;
    text-align: left;
    display: block; /* Zajištění, že odkaz zabírá celou šířku položky */
	padding: Opx; /* Vnitřní okraje pro odkazy */
	font-size: 12px;
	border-bottom: 1px solid #c1c1c1;
	background-color: #ffffff;
}
.zastavka a {
	text-decoration: none;
    display: block;
    padding: 4px;
    color: black;    
}
.zastavka a:hover {
	background-color: #eeeeee
}
.bus-type-line {
	border: 5px solid rgb(37, 91, 218);
	color: rgb(37, 91, 218);
}
.bus-type {
	background-color: rgb(44,137,200);
	font-weight: 500;
}
.trolleybus-type-line {
	border: 5px solid rgb(7, 172, 0);
	color: rgb(7, 172, 0);
}
.trolleybus-type {
	background-color: rgb(0,128,51);
	font-weight: 500;
}
.tram-type-line {
	border: 5px solid rgb(255, 20, 20);
	color: rgb(255, 20, 20);
}
.tram-type {
	background-color: rgb(226,30,35);
	font-weight: 500;
}
.night-type-line {
	border: 5px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}
.night-type {
	background-color: rgba(0, 0, 0);
	font-weight: 500;
}
.rez-type-line {
	border: 5px solid rgb(255, 128, 0);
	color: rgb(255, 128, 0);
}
.rez-type {
	background-color: rgb(238,126,30);
	font-weight: 500;
}
.menu-border {
	border-radius: 6px;
}
.highlight-color {
	background-color: white;
	font-weight: bold;
	border:2px solid black;
}
.locate-button {
    background: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.debug-info-container {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3000;
	display: none;
}

.debug-info-item {
    min-width: 60px; /* Pevná šířka pro minimálně 8 znaků */
    margin: 2px 0;
    font-size: 14px;
    text-align: center;
}
.arrow-icon {
    transition: transform 2s ease; /* Plynulý přechod pro transformaci */
}
.arrow-icon.move {
    transform: translate(0, 0); /* Výchozí pozice */
}
.stred {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stop-tooltip {
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    filter: invert(90%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
#show-stops:disabled + label {
  opacity: 0.3 !important;
  cursor: not-allowed;
}
.zoom-info {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 5px;
	font-size: 1.3em;
	display: none;
	transition: opacity 0.5s ease;
	opacity: 0;
	z-index: 1000;
}
/* Styly pro klikající kružnici pro zobrazení přesnosti polohy - #static-circle nyní nepoužíváme */
#blink {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgba(255,87,0,1);
	box-shadow: 0 0 0 rgba(255, 0, 0, .5);
	animation: blink 3s infinite;
	transform: translate(-50%, -50%);
	z-index: 1000; /* Z-index pro pulzující kružnici */
	display: none;
}
#static-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid rgba(255,87,0,.3); /* Barva hrany */
	background: transparent; /* Průhledný vnitřek */
	transform: translate(-50%, -50%);
	z-index: 1001; /* Z-index pro statickou kružnici */
	display: none;
}
@keyframes blink {
	0% {
		opacity: .1;
	}
	50% {
		opacity: .3;
	}
	100% {
		opacity: .1;
	}
}
/* Konec stylu blink efektu */
/* Dále vystřeďujeme v Leaflet Sidebar V2 SVG ikony. Jejich velikost a margin je ale v index.html jako inline styl, 
protože každý obrázek je jinak velký */ 
.svg-centering-li {
	display: flex;
	justify-content: center;
	align-items: center;
}
.svg-centering-img {
	height: auto;
	display: block;
	vertical-align: middle;
}
/* Stylování ikon v záložce Výluky */
.diversions-icon-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px;
}
.diversions-icon-item {
	text-align: center;
	cursor: pointer;
}
.diversions-icon-item img {
	width: 32px; /* Nastavte velikost ikony */
	height: 32px;
}
        #date-picker,
        #search-input {
            height: 46px;
            line-height: 46px;
            width: 80px;
            padding: 0 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            color: #333;
            background-color: #e0e0e0;
            text-align: center;
            transition: border-color 0.3s, background-color 0.3s;
        }