/* Styly pro tmavý režim */
:root {
    --background-color: white;
    --text-color: black;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
body.black-mode {
    --background-color: black;
    /*--text-color: white;*/
}
sidebar.dark-mode h1,
sidebar.dark-mode h2,
sidebar.dark-mode h3,
sidebar.dark-mode h4,
sidebar.dark-mode h5,
sidebar.dark-mode p {
    color: black; /* Nastavení bílé barvy textu nutno invertovat invertované*/
}
body.black-mode .leaflet-container {
	background-color: black;
	}
.dark-mode {
    filter: invert(90%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
.line-pink {
	color: rgb(177, 80, 177) !important;
	border-color: rgb(177, 80, 177) !important;
	}
/* Konec tmavého režimu */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
    position:relative;
}		
.group-content {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox pro uspořádání do sloupců */
	flex-wrap: wrap; /* Umožňuje položkám přecházet do dalšího řádku */   
}
.group-content li {
    padding: 6px;
    width: 33%; /* Šířka každé položky na 50% pro dva sloupce */
	box-sizing: border-box; /* Zajištění, že padding a border se započítávají do šířky */
}
.group-content li a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block; /* Zajištění, že odkaz zabírá celou šířku položky */
	padding: 6px; /* Vnitřní okraje pro odkazy */
	font-size: 14px;
}
.group-content li a:hover {
    background-color: #ffff;
}
.text-labels {
	width: 50px !important;
	height: 40px !important;
	border-radius: 10px;
	font-weight: bold;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.7) !important;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;       /* The same as your div height */
}
.detail-linky {
    text-decoration: none;
    text-align: left;
    display: block; /* Zajištění, že odkaz zabírá celou šířku položky */
	padding: Opx; /* Vnitřní okraje pro odkazy */
	margin-bottom: 6px;
	font-size: 12px;
	border: 1px solid #c1c1c1;
	background-color: #eeeeee;
}
.detail-linky a {
    text-decoration: none;
    display: block;
    padding: 6px;
    color: black;    
}
.detail-linky a:hover {
    background-color: #ffff;
}
.zastavka {
	text-decoration: none;
    text-align: left;
    display: block; /* Zajištění, že odkaz zabírá celou šířku položky */
	padding: Opx; /* Vnitřní okraje pro odkazy */
	font-size: 12px;
	border-bottom: 1px solid #c1c1c1;
	background-color: #ffffff;
}
.zastavka a {
	text-decoration: none;
    display: block;
    padding: 4px;
    color: black;    
}
.zastavka a:hover {
	background-color: #eeeeee
}
.bus-type {
	border: 5px solid rgb(37, 91, 218);
	background-color: rgba(37, 91, 218, 0.1);
	color: rgb(37, 91, 218);
}
.trolleybus-type {
	border: 5px solid rgb(7, 172, 0);
	background-color: rgba(7, 172, 0, 0.1);
	color: rgb(7, 172, 0);
}
.tram-type {
	border: 5px solid rgb(255, 20, 20);
	background-color: rgba(255, 20, 20, 0.1);
	color: rgb(255, 20, 20);
}
.night-type {
	border: 5px solid rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(0, 0, 0);
}
.menu-border {
	border-width: 2px;
}
.highlight-color {
	background-color: white;
	font-weight: bold;
	border:2px solid black;
}
.locate-button {
    background: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.debug-info-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.debug-info-item {
    min-width: 80px; /* Pevná šířka pro minimálně 8 znaků */
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}
.arrow-icon {
    transition: transform 2s ease; /* Plynulý přechod pro transformaci */
}
.arrow-icon.move {
    transform: translate(0, 0); /* Výchozí pozice */
}


